.cardList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  @include tablet() {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.listResults {
  text-align: center;
  margin: 10px 0;
}
.cards {
  border: 4px solid $colorBlue;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 7px $colorMediumGreen;
  display: flex;
  flex-direction: column;
  margin: 30px;
  &__type {
    padding-bottom: 10px;
    &--icon {
      color: $colorMediumGreen;
      padding-right: 10px;
    }
  }
  &__img {
    height: 250px;
    margin-bottom: 15px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    &--items {
      padding-bottom: 10px;
      &-link {
        background-color: $colorYellow;
        font-weight: 500;
        border-radius: 15px;
        width: 130px;
        height: 35px;
        line-height: 35px;
        align-self: center;
        margin-bottom: 10px;
        &:hover {
          background-color: $colorMediumGreen;
          color: $colorYellow;
        }
      }
    }
  }
}
