.bm {
  &-burger {
    &-button {
      position: fixed;
      width: 36px;
      height: 30px;
      left: 36px;
      top: 36px;
      @include tablet() {
        display: none;
      }
    }
    &-bars {
      background: $colorPink;
      &-hover {
        background: $colorYellow;
      }
    }
  }
  &-cross {
    background: $colorYellow;
    &-button {
      height: 24px;
      width: 24px;
    }
  }
  &-menu {
    background: $colorPink;
    padding: 40px 25px 0;
    font-size: 1.5rem;
    &-wrap {
      position: fixed;
      height: 100%;
    }
  }
  &-item {
    display: inline-block;
  }
}

.hMenu {
  display: none;
  height: 100px;
  @include tablet() {
    display: flex;
    justify-content: space-between;
    background-color: $colorYellow;
  }
  @include desktop() {
    height: 130px;
  }
  &__ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__item {
    padding: 25px 27px 25px 0;
    color: $colorDarkGreen;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    @include desktop() {
      font-size: 1.3rem;
      padding: 35px 37px 35px 0;
    }
  }
  &__img {
    padding-left: 25px;
    height: 100px;
    @include desktop() {
      height: 130px;
    }
  }
}
