@import "core/mixins";
@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "layout/footer";
@import "layout/main";
@import "layout/page";
@import "layout/hero";
@import "layout/cards";

/*.App {
  background-image: url(../images/wip.gif);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f1ee;
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/
